.teamlist
  .team
    %em New
  - @teams.each do |team|
    %div.team
      %span.rest_in_place{:id => dom_id(team), :title => "Click to edit", :data => {:attribute => 'name', :object => 'team', :url => url_for(team)}}= team.name

%h1 Listing teams
%table
  %tr
    %th
    %th
    %th
    %th
  - @teams.each do |team|
    %tr
      %td= team.name
      %td= link_to 'Show', team
      %td= link_to 'Edit', edit_team_path(team)
      %td= link_to 'Destroy', team, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Team', new_team_path
